#p1{
  font-size: 24px;
  color: black;
  font-style: bold;
  font-family: arial;
}

#p2{
  font-size: 14px;
  color: black;
  font-style: normal;
  font-family: sans-serif;
}

#p3{
  font-size: 14px;
  color: black;
  font-style: normal;
  font-family: sans-serif;
}

#p4{
  font-size: 14px;
  color: black;
  font-style: normal;
  font-family: sans-serif;
}

#p5{
  font-size: 14px;
  color: black;
  font-style: normal;
  font-family: sans-serif;
}

#description{
  padding-top: .25cm;
  padding-left: .25cm;
  padding-bottom: .25cm;
  padding-right: .25cm;
  background-color: #E8E8E8;
  font-size: 15px;
  color: #696969;
  font-style: italic;
  font-family: sans-serif;
}
